<div class="text-center">
    <h1 class="display-1 mt-3">About</h1>
    <p class="h4 mt-3">
        ながのCAKEは<span class="font-weight-bold">全国発送可能</span>なケーキ<span class="font-weight-bold">屋</span>さんです。</br>
        お<span class="font-weight-bold">子様</span>からお<span class="font-weight-bold">年寄</span>りの<span class="font-weight-bold">方</span>までお<span class="font-weight-bold">召</span>し<span class="font-weight-bold">上</span>がりいただけるよう、</br>
        <span class="font-weight-bold">様々</span>なバリエーションをご<span class="font-weight-bold">用意</span>しております。</br>
        また、<span class="font-weight-bold">全国</span>へ<span class="font-weight-bold">発送可能</span>ですので「いつ」でも「どこ」でもご<span class="font-weight-bold">注文</span>いただけます。</br>
        ぜひご<span class="font-weight-bold">注文</span>ください。
    </p>
    <%= image_tag "car.jpg", class: "img-fluid my-3", width: "500" %>
</div>